*, *::before, *::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: inter;
}

.main-page{
    display:grid;
    gap:30px;
    grid-template-columns: 20% 1fr;
    grid-template-rows:1fr 36% 1.1fr;
    grid-template-areas:
    "PS BP"
    "PS IS"
    "PS LS";
    
    .profile-section{grid-area:PS;}
    .basic-profile{grid-area:BP;}
    .image-section{grid-area:IS;}
    .link-section{grid-area:LS;}
    
    // phần profile người dùng
    .profile-section{
        background-color:#F8FAFC;
        width:100%;
        height:43%;
        display:flex;
        flex-direction: column;
        align-items: center;
        gap:20px;
        border-radius:8px;
        
        // thao tác icon người dùng 
        .profile-header{
            display:flex;
            flex-direction: column;
            gap:20px;
            align-items:center;
            padding-top:32px;
            
            p{
                font-weight:600;
                font-size:20px;
            }
            
            button{
                display: inline-flex;
                align-items: center;
                gap: 14px;
                padding: 12px 18px;
                border-radius: 14px;
                background: #fff;
                border: 1px solid #e5e7eb;
                color: #0f172a;
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;
                transition: all 0.2s ease;
            }
        }
        
        .sep-line1{
            width:90%;
            height:1px;
            background-color:black;
        }
        
        .profile-func{
            width:100%;
            display:flex;
            flex-direction:column;
            align-items:flex-start;
            justify-content:center;
            gap:0px;
            
            #func1{
                border-top:0.5px solid #E2E8F0;
            }
            
            #func1, #func2, #func3, #func4{
                height: 54px;
                width: 100%;
                display: flex;
                align-items: center;
                border-bottom:0.5px solid #E2E8F0;
                padding-left:30px;
            }
            
            #func5{
                height: 54px;
                width: 100%;
                display: flex;
                align-items: center;
                padding-left:30px;
            }
        }
    }
    
    .basic-profile{
        border:1px solid #E5E7EB;
        padding:25px;
        border-radius: 16px;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:67.56px 67.56px 1fr 67.56px;
        grid-template-areas:
        "first last"
        "email email"
        "des des"
        "lang lang";
        gap:25px;
        
        .first-name{grid-area:first;}
        .last-name{grid-area:last;}
        .email{grid-area:email;}
        .des{grid-area:des;}
        .lang{grid-area:lang;}
        
        // Mixin cho input
        @mixin input-base {
            width: 100%;
            padding: 12px 14px;
            border: 1px solid #e5e7eb;
            border-radius: 8px;
            font-size: 14px;
            outline: none;

            &::placeholder {
                color: #9ca3af;
            }

            &:focus {
                border-color: #3b82f6;
            }
        }
        
        .first-name{
            p{
                font-size:14px;
            }
            .form-field1{
                width: 100%;
                input {
                    @include input-base;
                }
            }
        }
        .last-name{
            p{
                font-size:14px;
            }
            .form-field2{
                width: 100%;
                
                input {
                    @include input-base;
                }
            }
        }
        .email{
            p{
                font-size:14px;
            }
            .form-field3{
                width: 100%;
                input {
                    @include input-base;
                }
            }
        }
        .des {
            p{
                font-size:14px;
            }
            .form-field4 {
                width: 100%;
                
                input {
                    width: 100%;
                    height:114px;
                    padding: 12px 14px;
                    border: 1px solid #e5e7eb;
                    border-radius: 8px;
                    font-size: 14px;
                    outline: none;
                    display:flex;
                    
                    align-content: start;

                    &::placeholder {
                        color: #9ca3af;
                    }

                    &:focus {
                        border-color: #3b82f6;
                    }
                }
            }
        }
        
        .lang {
            p{
                font-size:14px;
            }
            .form-field5 {
                width: 49%;
                input {
                    @include input-base;
                }
            }
        }
    .first-name, .last-name, .email, .des, .lang {
        display: flex;
        flex-direction: column;
        gap: 8px;
        }
    } // Đóng .basic-profile
    .image-section{
        padding:25px;
        border:1px solid #E5E7EB;
        border-radius: 16px;
        display:grid;
        grid-template-columns: 32.5% 60%;
        grid-template-rows:auto auto 24%;
        grid-template-areas:
        "iup iup"
        "iac ub"
        "sb sb";
        gap:20px;

        @mixin input-base2 {
            padding: 12px 14px;
            border: 1px solid #e5e7eb;
            border-radius: 8px;
            font-size: 14px;
            outline: none;

            &::placeholder {
                color: #9ca3af;
            }

            &:focus {
                border-color: #3b82f6;
            }
        }
        @mixin button-base(
            $width: auto,
            $height: auto,
            $padding: 10px 18px,
            $radius: 8px,
            $font-size: 14px,
            $border-color: #9ca3af,
            $bg: #ffffff,
            $color: #000000
            ) {
            width: $width;
            height: $height;
            padding: $padding;
            background-color: $bg;
            color: $color;
            border: 1px solid $border-color;
            border-radius: $radius;
            font-size: $font-size;
            font-weight: 500;
            cursor: pointer;
            transition: all 0.2s ease;
            
            &:hover {
                background-color: lighten($bg, 3%);
                border-color: darken($border-color, 10%);
            }

            &:active {
                transform: scale(0.97);
            }
            }
        .img-up{grid-area:iup;}
        .add-change-img{grid-area:iac;}
        #upload-btn{grid-area:ub;}
        #save-btn{grid-area:sb;}
        .img-up{
            display:flex;
            flex-direction: column;
            gap:10px;
            p{
                font-size:18px;
                font-weight:600;
            }
            .img-box{
                width:425px;
                height:255px;
                border:1px solid #E5E7EB;
                border-radius:8px;
                padding:15.92px;
            }
        }
        .add-change-img{
            width: 100%;
            display:flex;
            flex-direction: column;
            gap:13px;
            .iac-button > input{
                width:426px;
                height:58px;
                @include input-base2;
            }  
        }
        #upload-btn {
            @include button-base(
                $width:141px,
                $height:58px,
                $padding: 10px 18px,
                $radius: 8px,
                $font-size: 14px,
                $border-color: #9ca3af,
                $bg: #ffffff,
                $color: #000000
            );
            align-self: end;
            margin-top:1px;
        }
        #save-btn {
            @include button-base(
                $width: 200px, /* ✅ */
                $height:48px,
                $padding: 12px 20px,
                $radius: 8px,
                $font-size: 16px,
                $border-color: #3b82f6,
                $bg: #3b82f6,
                $color: #ffffff
            );
            
        }
    }
    .link-section{
        border:1px solid #E5E7EB;
        border-radius:16px;
        padding:25px;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows:auto 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "title"
        "ff1"
        "ff2"
        "ff3"
        "ff4"
        "ff5";
        gap:10px;

        @mixin input-base {
            width: 100%;
            padding: 12px 14px;
            border: 1px solid #e5e7eb;
            border-radius: 8px;
            font-size: 14px;
            outline: none;

            &::placeholder {
                color: #9ca3af;
            }

            &:focus {
                border-color: #3b82f6;
            }
        }

        > p{grid-area:title;}
        .form-field1{grid-area:ff1;}
        .form-field2{grid-area:ff2;}
        .form-field3{grid-area:ff3;}
        .form-field4{grid-area:ff4;}
        .form-field5{grid-area:ff5;}

        > p{
            font-size:18px;
            font-weight: 600;
        }

        .link-field1, .link-field2, .link-field3, .link-field4, .link-field5 {
            display: flex;
            flex-direction: column;
            gap: 3px;
            input {
                @include input-base;
            }
        }
    }
} // Đóng .main-page